body {
  background-color:#161616;
  padding:0;
  margin:0;
  font-family:arial,sans-serif;
  font-weight:normal;
}

li {
  list-style-type: none;
}

div#header div#trunk-logo a img {
  border:0;
}

div#header {
  width:900px;
  margin:50px auto 0 auto;
}

div#trunk-logo {
  float:left;
}

ul#menu {
  float:left;
  margin:0;
  margin-top:49px;
}

ul#menu li {
  float:left;
  width:110px;
}

ul#menu li a {
  display:block;
  width:85px;
  height:0;
  padding-top:30px;
  overflow:hidden;
  background-repeat:no-repeat;
  background-position:center center;
}

ul#menu li#film a {
  background-image:url('../images/menu/film.png');
}

ul#menu li#about-us a {
  background-image:url('../images/menu/about-us.png');
}

ul#menu li#contact a {
  background-image:url('../images/menu/contact.png');
}

ul#menu li#blog a {
  background-image:url('../images/menu/blog.png');
}

ul#menu li#film a:hover {
  background-image:url('../images/menu/film-hover.png');
}

ul#menu li#about-us a:hover {
  background-image:url('../images/menu/about-us-hover.png');
}

ul#menu li#contact a:hover {
  background-image:url('../images/menu/contact-hover.png');
}

ul#menu li#blog a:hover {
  background-image:url('../images/menu/blog-hover.png');
}

div#content-window {
  width:900px;
  height:506px;
  margin:0 auto;
  overflow:hidden;
  clear:left;
}


/*film page*/

div#movies {
  width:10000px;
}

div.arrow a {
  position:absolute;
  top:350px;
  padding-top:80px;
  display:block;
  overflow:hidden;
  height:0;
  width:200px;
  background-repeat:no-repeat;
  background-position:center center;
}

div#scroll-left a {
  left:310px;
  background-image:url('../images/left-arrow.png');
}

div#scroll-right a {
  right:310px;
  background-image:url('../images/right-arrow.png');
}